.container {
  position: relative;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  /* scroll-snap-type: x mandatory; */
  -webkit-overflow-scrolling: touch;
}

.list::-webkit-scrollbar {
  display: none;
}

.button {
  position: absolute;
  border-color: transparent;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0.1rem 0.1rem 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  top: 40%;
  width: 3.2rem;
}

.button:focus {
  border-color: rgba(226, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 0.1rem,
    rgba(255, 255, 255, 0.7) 0 0 0 0.5rem;
  outline: none;
  transition: box-shadow 0.2s ease 0s;
}
