.container {
  margin: 0 auto;
  width: 90%;
}

.backdrop {
  position: relative;
}

.backdrop > img {
  object-fit: contain;
  width: 100%;
}

.title {
  position: absolute;
  bottom: 0.5rem;
  left: 1.25rem;
  font-style: italic;
}
