.title {
  bottom: calc(1.25rem + 0.5vw);
  left: calc(1.25rem + 0.5vw);
  padding-bottom: 1rem;
}

.content {
  padding: 1rem;
}

.overview {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 1.6rem;
  margin-top: 0.5rem;
  padding: 2rem 2.5rem 2.25rem;
}

.tagline {
  color: var(--primary);
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
