.container {
  margin: 0 auto;
  width: 95%;
}

.backdrop {
  position: relative;
}

.backdrop > img {
  object-fit: contain;
  width: 100%;
}

.title {
  position: absolute;
  bottom: calc(1.25rem + 0.5vw);
  left: calc(1.25rem + 0.5vw);
  font-style: italic;
}
