.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.spinner {
  position: absolute;
  height: 2.8rem;
  user-select: none;
  width: 2.8rem;
}

.line {
  position: absolute;
  animation: animation-fade-out 1s linear 0s infinite normal none running;
}

@keyframes animation-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
