.content {
  margin: 0 auto;
  max-width: 64rem;
  padding: 1rem;
}

.title {
  bottom: calc(1.25rem + 0.5vw);
  left: calc(1.25rem + 0.5vw);
  padding-bottom: 1rem;
}

.overview {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 1.6rem;
  margin-top: calc(0.5rem + 0.25vw);
  padding: 1.4rem 2rem 1.6rem;
}

.tagline {
  color: var(--primary);
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 0.85rem;
  text-transform: uppercase;
}
