.clips {
  margin: 0 auto;
  max-width: 102.4rem;
  padding: 0.25rem 1.5rem 2rem;
  margin-bottom: 5rem;
}

.thumbnail {
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  height: 15.6rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  width: 23.1rem;
}

.caption {
  color: var(--secondary);
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
  width: 21.1rem;
}

.placeholder {
  height: 5rem;
}
