.videos {
  margin: 0 auto;
  max-width: 66rem;
  padding: 0.25rem 0.5rem 2rem;
}

.thumbnail {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  height: 12.85rem;
  margin: 0rem 1rem 0.5rem 1rem;
  width: 23.1rem;
}

.caption {
  color: var(--secondary);
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 1rem;
  width: 21.1rem;
}

.placeholder {
  height: 5rem;
}
